body {
    background: #ff5;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    color: red;
    text-align: center;
    }

    h2{
    color: purple;
    }

    h3{
    color: brown
    }

    h4{
    color: blueviolet
    }

    h5{
    color: black
    }


.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}