body {
       background-color:azure;
                
      }
        h1{
            color:black; 
               text-align: center;
               font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            p {
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                text-align: center;
            }



table {
    border: 3px solid black;
    margin: auto;
    border-collapse: collapse;
    
}

th, td{
    text-align: center; 
    border: 3px solid black;
}

