/* Main Structure */
body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #27D3F5;

}

#main-content{  
    width: 80%;
    margin: auto; /* Center */
    padding: 5px 10px;
}

#main-header {
    background: pink;

}

#content {

}

#main-footer {

}

/* Gallery */
#gallery section{
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#gallery section h3{
    text-align: center;
}


/* Navigation */

#main-nav ul {
    padding-left: 0%; /* Remove indentation */

}

#main-nav li {
    list-style-type: none; /* Remove bullet */
    background: azure;
    padding:5px;
    border-bottom: 1px solid grey;
}

#main-nav a{
    text-decoration: none; /* Remove underline */
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding-top: 10px;
}

/* Larger devices */
@media (min-width: 768px) {
.colums{
    display: flex;
}

.one{
    flex:1;
}

.two{
    flex:2;
}

.three{
    flex:3;
}

.four{
    flex:4;
}

    #main-nav ul {
        display:flex;
    }

    #main-nav li{
        background: transparent;
        flex:1;
    }

    #main-nav a{
        color: darkslateblue;
    }

    #main-nav a:hover
    {
        border-bottom: 1px solid darkslateblue;
    }
}
