body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    width: 95%;
    padding: 2%;
    border-radius: 5px;
    margin: auto;
}

/* Images*/
img {
    width: 200px;
    height: 200px;
    padding: 5px;
    background: black;
}

/* Text */
.description {
    color: black;
}

.headers {
    color: black;
    text-align: center;
}

/* Assignment container */
.assignments {
    background: black;
    padding: 5px;
    margin: auto;
}

/* List reset */
.columns {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Individual items */
.columns li {
    background: bisque;
    color: black;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
    font-weight: bold;
}

#github {
    color: blueviolet;
    text-align: center;
}


@media (min-width: 768px) {
    .columns {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;   
        justify-content: center;
    }

    /*.columns li {
        width: 170px;      
    }*/
}
