body
{
    background-color: beige;
}
h1{
            color:black; 
               text-align: center;
               font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            p {
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                text-align: center;
            }
            h2{
                color:black; 
               text-align: center;
               font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
